<% if params[:refresh] %>
<script>
  function read_log() {
    offset = $("#offset").val();
    $.get('<%= async_read_log_batch_url(escape_batch_name(@batch_name), :wet => @wet) %>' + '&offset=' + offset, function(data) {
      $("#log_box").val($("#log_box").val() + data.content);
      $("#offset").val(data.offset);
      scrollLogBoxDown();
    });
  }
  function scrollLogBoxDown() {
    var logBox = $('#log_box');
    logBox.scrollTop(logBox[0].scrollHeight - logBox.height());
  }
  $(function() {
    setInterval(read_log, 2000);
  });
</script>
<% end %>

<div class="group title">
  <h2><%= @batch_name %></h2>
</div>

<%= text_area_tag :log, @content, :id => "log_box" %>
<%= hidden_field_tag :offset, @offset, :id => :offset %>

<div style="margin-top:15px;">
  <%= link_to "Back to list", batches_url, :class => "btn info large" %>
</div>
