<!DOCTYPE html>
<html>
<head>
  <title>BatchManager</title>
  <%= stylesheet_link_tag    "batch_manager/application", :media => "all" %>
  <%= javascript_include_tag "batch_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="inner">
      <h1><%= link_to "BatchManager", batches_url %></h1>
      <div class="new_link"><%= link_to "NEW BATCH", new_batch_url %></div>
    </div>
  </header>

  <div id="wrapper">
    <div class="group">
      <% if flash[:notice] %>
        <div class="alert notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert error"><%= flash[:error] %></div>
      <% end %>
    </div>
    <%= yield %>
  </div>

  <footer>
    <p><a href="https://github.com/cctiger36/batch_manager">BatchManager</a> VERSION <%= BatchManager::VERSION %></p>
  </footer>

</body>
</html>
