<!DOCTYPE html>
<html>
<head>
  <title>BatchManager</title>
  <%= stylesheet_link_tag    "batch_manager/application", :media => "all" %>
  <%= javascript_include_tag "batch_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="inner">
      <h1>BatchManager</h1>
    </div>
  </header>

  <div id="wrapper">
    <%= yield %>
  </div>

  <footer>
    <p><a href="https://github.com/cctiger36/batch_manager">BatchManager</a> VERSION <%= BatchManager::VERSION %></p>
  </footer>

</body>
</html>
